<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Yorgos Lanthimos</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>About Yorgos Lanthimos</h1>
    <p>
      Georgios "Yorgos" Lanthimos (born 23 September 1973) is a Greek filmmaker.
      <br />
      He has received multiple accolades, including a British Academy Film Award
      and a Golden Globe Award as well as nominations for six Academy Awards.
      Lanthimos's early films include My Best Friend (2001), Kinetta (2005), and
      Dogtooth (2009), the last of which won the Un Certain Regard prize at the
      2009 Cannes Film Festival. In 2015, he began to transition from
      Greek-language to English-language films. He received nominations for the
      Academy Award for Best Original Screenplay for The Lobster (2015) and
      nominations for the Academy Award for Best Director and Best Picture for
      both The Favourite (2018) and Poor Things (2023). The latter also won the
      Golden Lion at the 80th Venice International Film Festival.
    </p>
    <div class="footer">
      <a class="footer" href="/home">Back to Home</a>
      <a class="footer" href="/works">Filmography</a>
      <a class="footer" href="/gallery">Latest work from Yorgos Lanthimos</a>
    </div>
  </body>
</html>
