<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Yorgos Lanthimos</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Yorgos Lanthimos</h1>
    <h2>Snapshots from Poor Things (2023)</h2>
    <div class="snapshotgroup">
      <img
        class="snapshot"
        alt="poor things movie scene"
        src="/images/pt-1.jpg"
      />
      <img
        class="snapshot"
        alt="poor things movie scene"
        src="/images/pt-2.jpeg"
      />
      <img
        class="snapshot"
        alt="poor things movie scene"
        src="/images/pt-3.jpg"
      />
    </div>
    <h2>Snapshots from The Favourite (2018)</h2>
    <div class="snapshotgroup">
      <img
        class="snapshot"
        alt="the favorite movie scene"
        src="/images/fav-1.jpg"
      />
      <img
        class="snapshot"
        alt="the favorite movie scene"
        src="/images/fav-2.jpg"
      />
      <img
        class="snapshot"
        alt="the favorite movie scene"
        src="/images/fav-3.jpg"
      />
    </div>
    <div class="footer">
      <a class="footer" href="/home">Back to Home</a>
      <a class="footer" href="/about">Learn more about Yorgos Lanthimos</a>
      <a class="footer" href="/works">Filmography</a>
    </div>
  </body>
</html>
