<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Yorgos Lanthimos</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Yorgos Lanthimos</h1>
    <p>A Director from Greek Weird Wave</p>
    <div class="footer">
      <a class="footer" href="/about">About Yorgos Lanthimos</a><br />
      <a class="footer" href="/works">Filmography</a><br />
      <a class="footer" href="/gallery">Latest work from Yorgos Lanthimos</a
      ><br />
    </div>
  </body>
</html>
