body {
  color: black;
  background-color: rgb(230, 233, 34);
}

.snapshotgroup {
  display: flex;
  max-width: 600px;
  max-height: 300px;
}

img.snapshot {
  max-height: 200px;
  padding: 10px;
}

div.footer {
  display: flex;
  flex-direction: row;
}

a.footer {
  padding: 10px;
}
